#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        leftback: left_back {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp C_AC_BACK>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        rightforward: right_forward {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp C_AC_FORWARD>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        uppgup: up_pgup {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        downpgdown: down_pgdown {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PG_DN>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer1 {
            timeout-ms = <50>;
            key-positions = <37 41>;
	    layers = <0>;
            bindings = <&mo 1>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer5 {
            timeout-ms = <50>;
            key-positions = <37 41>;
	    layers = <4>;
            bindings = <&mo 5>;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer_0 {
				// -----------------------------------------------------------------------------------------
				// |  ESC  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
				// |  TAB  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
				// | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |  RET  |
				// | LCTL  | LGUI | LALT |  \   | LOWR | SPC  |  RAIS | LARW | DARW | UARW  |  RARW |  P/P  |

				// -----------------------------------------------------------------------------------------
				// |  ESC  |  Q   |  W   |  E   |  R   |  T   |   B   |  V    |  C   |  X   |   Z   |  LSFT |
				// |   Y   |  U   |  I   |  O   |  P   | BSPC |  ENT  |  /    |  .   |  ,   |   M   |   N   |
				// |  TAB  |  A   |  S   |  D   |  F   |  G   |  SPC  |  LOWR |  \   | LALT | LGUI  |  LCTL |
				// |   H   |  J   |  K   |  L   | SCLN | QUTE |  P/P  | RARW | UARW | DARW  |  LARW | RAISE |


			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		layer_1 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		layer_2 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		control_3 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		game_4 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		game_symbol_5 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		game_number_6 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};

		game_fn_7 {
			bindings = <
				&gresc    &kp N1   &kp N2   &kp N3      &kp N4 &kp N5  &kp N6    &kp N7   &kp N8    &kp N9   &kp N0  &kp MINUS   &kp EQUAL   &trans         &trans
				&kp TAB   &kp Q    &kp W    &kp E       &kp R  &kp T   &kp Y     &kp U    &kp I     &kp O    &kp P   &kp LBKT    &kp RBKT    &kp BSLH       &trans
				&kp TAB	  &kp A    &kp S    &kp D       &kp F  &kp G   &kp H     &kp J    &kp K     &kp L    &trans  &kp SEMI    &kp SQT     &kp RET        &kp END  
				&kp LSHFT &kp Z    &kp X    &kp C       &kp V  &kp B   &kp N     &kp M    &kp COMMA &kp DOT  &trans  &kp FSLH    &trans      &uppgup        &kp DEL
			    &kp LCTL  &kp LGUI &kp LALT &lt 2 SPACE &trans &kp B   &kp BSPC  &trans   &mo 1     &trans   &trans  &kp LCTL   &leftback    &downpgdown   &rightforward
			>;
		};
	};
};
