#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        leftback: left_back {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp C_AC_BACK>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        rightforward: right_forward {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp C_AC_FORWARD>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        uppgup: up_pgup {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    behaviors {
        downpgdown: down_pgdown {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PG_DN>;
            mods = <(MOD_LSFT|MOD_LCTL)>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer1 {
            timeout-ms = <50>;
            key-positions = <37 41>;
	    layers = <0>;
            bindings = <&mo 1>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_layer5 {
            timeout-ms = <50>;
            key-positions = <37 41>;
	    layers = <4>;
            bindings = <&mo 5>;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer_0 {
				// -----------------------------------------------------------------------------------------
				// |  ESC  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
				// |  TAB  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
				// | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |  RET  |
				// | LCTL  | LGUI | LALT |  \   | LOWR | SPC  |  RAIS | LARW | DARW | UARW  |  RARW |  P/P  |

				// -----------------------------------------------------------------------------------------
				// |  ESC  |  Q   |  W   |  E   |  R   |  T   |   B   |  V    |  C   |  X   |   Z   |  LSFT |
				// |   Y   |  U   |  I   |  O   |  P   | BSPC |  ENT  |  /    |  .   |  ,   |   M   |   N   |
				// |  TAB  |  A   |  S   |  D   |  F   |  G   |  SPC  |  LOWR |  \   | LALT | LGUI  |  LCTL |
				// |   H   |  J   |  K   |  L   | SCLN | QUTE |  P/P  | RARW | UARW | DARW  |  LARW | RAISE |


			bindings = <
				&kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &kp KP_SLASH    &kp KP_ASTERISK
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT    &kp BSLH        &kp HOME
                &kp CLCK    &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp K_MUTE  &kp SEMI    &kp SQT     &kp RET         &kp END  
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &none       &kp FSLH    &kp RSHFT   &kp UP          &kp DELET
                &kp LCTRL   &kp LGUI    &kp LALT    &none       &kp SPACE   &kp B       &kp BSPC    &none       &mo 1       &none       &none       &kp RCTRL   &kp LEFT    &kp DOWN        &kp RIGHT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		layer_1 {
			bindings = <
				&bootloader  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
			>;
		};

		layer_2 {
			bindings = <
				&bootloader  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
                &none        &none        &none        &none        &none   &none       &none       &none       &none        &none      &none       &none        &none      &none           &none
			>;
		};
	};
};
